.services {
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
    
}

.servicesWrapper {
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    width: 100vw;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: top;

}

.serviceItem {
    padding: 10px;
    flex-direction: column;
    position: relative;
    font-size: 28px;
    
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s linear;
}
.servicesWrapper>.serviceItem:nth-child(1) {
    width: 30%;
}
.servicesWrapper>.serviceItem:nth-child(2) {
    width:50%;
}
.servicesWrapper>.serviceItem:nth-child(3) {
    width: 20%;
}
.serviceItemName:hover {
    transform: scale(0.95);
    
}
.serviceItemName {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(39, 53, 65, 0.507);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.616);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.459);


    backdrop-filter: brightness(60%);
    color: var(--mbg-color);
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    z-index: 2;
    transition: all .2s ease-out;
    background-color: var(--mbg-color) ;
}
.serviceItemName p {
    z-index: 2;
    font-size: 25px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.imageService1 {

    background-image: url(../../../public/images/services/content1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.imageService2 {
    background-image: url(../../../public/images/services/fashion.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.imageService3 {
    background-image: url(../../../public/images/services/reels.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.serviceItemTitle {
    
    transform: translateY(-150px);
    opacity: 0;
    width: 90%;
    transition: all .3s ease-in-out;
    height: 150px;
    z-index: 1;
    font-size: 20px;
}
.serviceItem:hover .serviceItemTitle {
    opacity: 1;
    transform: translateY(0);
}
.blackBlock {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    backdrop-filter: brightness(60%);
}