.caseItem {
    cursor: pointer;

    position: relative;
    
    display: flex;
    
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;

    width: 50vw;
    height: 600px;
    background-color: black;
    transition: all 0.2s ease-in;

}

/* .caseItem:nth-child(4n+2) {
    width: 500px;
} */
a:nth-child(3n) .caseItem {
    width: 100vw;
    height: 600px;

}

/* .caseItem:last-child {
    width: 100vw;
    
} */



.caseItem:hover .caseImage img {
    filter: blur(0);
}

a:nth-child(3n) .caseItem>.caseImage>img {
    object-position: top;
    object-fit: cover;
}

/* .caseItem>.caseImage>img:last-child {
    object-position: bottom;
} */
.heightItemBox>.caseItem {

    height: 565px;

}




.caseItemName {
    color: var(--mbg-color);
    z-index: 2;
    opacity: 1;
    margin: 0;
    font-size: 60px;
    transition: all 0.2s ease-in;
    font-family: 'Caveat', cursive;

}

.caseItemTitle {
    color: var(--mbg-color);
    z-index: 2;
    margin: 0;
    opacity: 1;
    font-size: 30px;
    font-family: 'Work Sans', sans-serif;
}

.coverImg {
    object-fit: cover;
    width: 100%;
    
}

.heightItemBox {
    width: 100%;
    justify-content: space-around;
    display: flex;
    flex-direction: row;

}

.itemColumn {
    flex-direction: column;

}

.caseImage {
    overflow: hidden;
    width: 100%;
    
    
}
.caseItemBottom {
    height: 90px;
    width: 100%;
    border-bottom: 1px solid white;
    display: flex;
    flex: 1 0 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.caseItemNameBlock {
    width: 35%;
    display: flex;
    justify-content: center;
    border-left: 1px solid white;
    align-items: center;
    height: 100%;
}
.caseItemTitleBlock {
    align-items: center;
    height: 100%;
    width: 65%;
    display: flex;
    justify-content: left;
    
}