.caseItem {
    cursor: pointer;

    position: relative;
    object-fit: cover;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;

    width: 50vw;
    height: 475px;
    background-color: grey;
    transition: all 0.2s ease-in;

}

/* .caseItem:nth-child(4n+2) {
    width: 500px;
} */
.caseItem:nth-child(3n) {
    width: 100vw;

}

/* .caseItem:last-child {
    width: 100vw;
    
} */
.caseItem:hover {
    transform: scale(0.98);
    filter: blur(0px);
}


.caseItem:hover .caseImage img {
    filter: blur(0);
}

.caseItem>.caseImage>img:nth-child(3n) {
    object-position: top;
}

/* .caseItem>.caseImage>img:last-child {
    object-position: bottom;
} */
.heightItemBox>.caseItem {

    height: 565px;

}

.caseItem:hover .caseItemName {
    opacity: 1;
    font-size: 60px;


}

.caseItem:hover .caseItemTitle {
    opacity: 1;
    animation: fade 0.2s linear;
}

.caseItemName {
    color: var(--mbg-color);
    z-index: 1;
    opacity: 1;
    margin-bottom: 0;
    font-size: 30px;
    transition: all 0.2s ease-in;

}

.caseItemTitle {
    color: var(--mbg-color);
    z-index: 1;
    margin: 0;
    opacity: 1;
    font-size: 30px;
    font-family: Noah-400;
}

.coverImg {
    object-fit: cover;
}

.heightItemBox {
    width: 100%;
    justify-content: space-around;
    display: flex;
    flex-direction: row;

}

.itemColumn {
    flex-direction: column;

}

.caseImage img {
    filter: blur(7px);
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .3s linear;
}