








.blockTeam {
    justify-content: center;
    width: 100vw;
    padding: 100px 0;
    display: flex;
    flex-direction: row;
}

.teamItem {
    margin: 0 auto;
    width: 250px;
    height: 450px;
    background-color: var(--s-color);
    border-radius: 20px;
}

.block3 {
    width: 80%;
}