.header {
    z-index: 3;
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 1170px;
    display: flex;
    width: 100vw;
    color: var(--s-color);
    justify-content: space-around;
    transition: all 0.2s linear;
}

.logo {
    cursor: pointer;
    animation: fade 0.4s ease-in-out forwards;
    font-family: Noah-700;
    font-size: 36px;

    transition: all .2s ease-in;
}

.logo:hover {
    transform: scale(1.2);
}

.headerNav {
    animation: TrainReverse .5s forwards;
    display: flex;
    align-items: center;

    font-family: Noah-400;
    font-size: 28px;
}

.headerNav>p:nth-child(1) {

    animation: fade 0.2s ease-in-out running;
}

.headerNav>p:nth-child(2) {

    animation: fade 0.4s ease-in-out running;
}

.headerNav>p:nth-child(3) {

    animation: fade 0.6s ease-in-out running;
}

.headerNav>p:nth-child(4) {

    animation: fade 0.8s ease-in-out running;
}

.headerNavItem {
    margin-right: 20px;
    border: 1px solid var(--s-color);
    border-radius: 20px;
    height: 40px;
    padding: 0 30px;
    font-family: Noah-400;
    display: flex;
    align-items: center;
    background-color: rgba(236, 255, 253, 0.212);
    transition: all .2s ease-in;
    cursor: pointer;
    margin-right: 30px;
    transition: all .2s ease-in;
}

.headerNavItem:hover {

    border-color: var(--third);

    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.backdd {
    background-color: var(--mbg-color);

}

.navRight {
    animation: Train .6s forwards;


}

@keyframes fade {
    0% {
        transform: translateY(-60px);
        opacity: 0;
    }

    50% {
        opacity: 0.3;
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes Train {
    0% {
        transform: translateX(-20px);

    }

    50% {

        transform: translateX(165px);
    }

    100% {
        transform: translateX(150px);

    }
}

@keyframes TrainReverse {
    0% {

        transform: translateX(150px);
    }

    50% {

        transform: translateX(165px);
    }

    100% {

        transform: translateX(-20px);
    }
}

@keyframes header {}