.companySwiperText {
    color: var(--s-color);
    width: 90px;
    height: 40px;
    object-fit: cover;
}
.company {
  width: 100%; 
}

.companySwiper {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    width: 1000px;
    margin-bottom: 120px;
    text-align: center;
}

