.mainScreen {
    width: 100vw;
    height: 100vh;
    background-color: var(--mbg-color);
    
   


}
.callback_button {
    position: fixed;
    bottom: 100px;
    right: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    min-width: 220px;
    min-height: 60px;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: var(--s-color);
    background-color:#a3ff00 ;
    background: linear-gradient(90deg, rgba(#a3ff00) 0%, rgba(#68056c) 100%);
    border: none;
    
    
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    
    padding: 10px;
    }
  
  .callback_button:hover, .order__button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  .callback_button:hover::before, .order__button:focus::before {
    opacity: 1;
  }
  .callback_button::after {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #a3ff00;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  } 
