p {
    font-family: Noah-700;
}

.mainContent {
    background-color: var(--mbg-color);
    overflow-x: hidden;
    z-index: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

}

.textAfterIntro {
    padding-bottom: 50px;
    padding-top: 50px;
    font-size: 28px;
    font-family: Noah-400;
    text-align: center;
    max-width: 800px;
}
.textAfterIntro p {
   font-family: Noah-400; 
}
