p {
    font-family: Noah-700;
}

.mainContent {
    background-color: black;
    overflow-x: hidden;
    z-index: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

}

.textAfterIntro {
    padding-bottom: 50px;
    padding-top: 50px;
    font-size: 40px;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    max-width: 1170px;
    color: white;
}
.textAfterIntro p {
    font-family: 'Work Sans', sans-serif; 
}
